.drawer {
  position: relative;
  flex: 0 0 60px;
  max-width: 60px;
  min-width: 60px;
  width: 60px;
  transition: all 300ms linear;
  border-right: 1px solid $primary-color;

  &__header {
    margin-bottom: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $primary-color;
    padding: 10px;
    img {
      min-width: 40px;
      min-height: 40px;
      max-width: 40px;
      max-height: 40px;
      border-radius: 50%;
      border-bottom: 1px solid $primary-color;
    }

    h2 {
      padding: 0 20px;
      color: $primary-color;
      text-align: center;
    }
  
  }
  
  &__btn {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 40%;
    border: 1px solid $primary-color;
    width: 30px;
    height: 30px;
    left: 100%;
    background: $bg-color;
    border-radius: 0 8px 8px 0;
    svg {
      width: 100%;
      height: 100%;
      transform: translateX(180deg);
    }
  }

  &.active {
    flex: 0 0 200px;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
  }

  &__body {
  }
}
